.idea/
.vs/
.vsconfig
*.DotSettings.user
**/Binaries/
**/Intermediate/
**/Saved/
**/DerivedDataCache/
Build/
Platforms/
Config/
Content/Collections/
Content/Developers/
Content/Dev/
Content/__ExternalActors__
Content/__ExternalObjects__
Plugins/Developer/
Plugins/ThirdParty/
Plugins/Vansty/Movement/VSMovementAssets