.idea/
.vs/
.vsconfig
*.DotSettings.user
*.sln
*.uproject
**/Binaries/
**/Intermediate/
**/Saved/
**/DerivedDataCache/
Source/
Build/
Platforms/
Config/
Content/Collections/
Content/Developers/
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Dev/
Plugins/Developer/
Plugins/ThirdParty/